.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.navbar {
    display: flex;
    flex-direction: row;
    height: 40px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.navbutton {
    margin: 10px;
}
.navbutton a {
    color: black;
    text-decoration: none;
    height: 100%;
}
.navbutton a:hover {
    text-decoration: underline;
}
.aboutbutton {
    order: 1;
}
.storebutton {
    order: 2;
    flex: 8 8 auto;
}
.gmailbutton {
    order: 3;
}
.imagesbutton {
    order: 4;
}

.appsbutton {
    margin-top: 3px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    order: 5;
    flex: none;
    color: #9aa0a6;
    fill: currentColor;
}
.signinbutton {
    order: 5;
}
.signinbutton button {
    background-color: #1a73eb;
    color: white;
}
.divlogo {
    padding: 0 0 15px 0;
}
#logo {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
}
.searchbar {
    max-height: 160px;
    max-width: 584px;
    margin: 0 auto;
}
.searchbar_elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    align-items: center;
}
.magpic {
    margin-top: 3px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    order: 1;
    flex: none;
    color: #9aa0a6;
    fill: currentColor;
}
.search_input {
    order: 2;
    flex: 100%;
    border: none;
    background-color:transparent;
    color: transparent;
}
.microphone {
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline:none;
    padding: 0 8px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    order: 3;
}
input[type="text"] {
    border-style: none;
    width: 100%;
    height: 80%;
    color: transparent;
    padding: 20px;
    color: rgba(0,0,0,.87);
    outline: none;
    display: flex;
}
.searchbuttons {
    padding-top: 10px 0 0 0;
    height: 70px;
    top: 53px;
    color: transparent;
    background-color:transparent;
}
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.flavorlink {
    text-align: center;
}